doctype html
head
  meta(charset='utf-8')
  script(src='connect4.js')

  style.
    body{
    font-size: 17px;
    font-weight: 600;
    background: #d494ff;
    }
    button {
    background-color: rgb(206, 184, 250);
    font-size: 16px;
    margin: 3px;
    margin-left: 11px;
    font-weight: 600;
    padding: 2px 25px;
    width: 130px;
    height: 40px;
    border-radius: 12px;
    }

  link(rel='stylesheet' href='./connect4.css')
  title Connect 4

h2(style="font-style:bold") Register
h4 Please fill in this form to create an account.

form(action='/signUpUser' method="POST")

  label(for="username") 
    strong Create Username
  br
  input(type='text' placeholder='Enter Username' name='username' required='')
  br
  br
  label(for="password")
    strong Create Password
  br
  input(type='text' placeholder='Enter Password' name='password' required='')
  br
  br
  label(for="repeatpassword")
    strong Repeat Password
  br
  input(type='text' placeholder='Enter Password' name='repeatPass' required='')
  br
  br
  label(for="email")
  strong Email
  br
  input(type='text' placeholder='Enter Email' name='email' required='')
  br
  br
  button(class="button" style='cursor:pointer;') Sign up
  button#cancel(class="button" style='cursor:pointer;' onclick="location.href = 'home';") Cancel
